<BSCard Color="Color.Light">
    <BSCard CardType="CardType.Header">Retrospective</BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">Start a retro</BSCard>
        <BSCard CardType="CardType.Text">
            How did your team do this sprint? Multiple formats available: Standard, 4Ls, Stop-Start-Continue, KALM, Mad-Sad-Glad.
            <p>&nbsp;</p>
            <BSButton Color="Color.Primary" IsBlock="true">Go</BSButton>
        </BSCard>
    </BSCard>
</BSCard>