@page "/get-started"

<BSContainer>
    <BSRow>
        <BSCol MD=4>
            <BSCard Color="Color.Light">
                <BSCard CardType="CardType.Header">Estimation</BSCard>
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Start estimating</BSCard>
                    <BSCard CardType="CardType.Text">
                        Planning poker is a way for agile teams to guide sprint planning and build accurate consensus estimates.
                        <p>&nbsp;</p>
                        <BSButton Color="Color.Primary" IsBlock="true">Go</BSButton>
                    </BSCard>
                </BSCard>
            </BSCard>
        </BSCol>
        <BSCol MD=4>
            <BSCard Color="Color.Light">
                <BSCard CardType="CardType.Header">Retrospective</BSCard>
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Start a retro</BSCard>
                    <BSCard CardType="CardType.Text">
                        How did your team do this sprint? Multiple formats available: Standard, 4Ls, Stop-Start-Continue, KALM, Mad-Sad-Glad.
                        <p>&nbsp;</p>
                        <BSButton Color="Color.Primary" IsBlock="true">Go</BSButton>
                    </BSCard>
                </BSCard>
            </BSCard>
        </BSCol>
        <BSCol MD=4>
            <BSCard Color="Color.Light">
                <BSCard CardType="CardType.Header">Health Check</BSCard>
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Start a Health Check</BSCard>
                    <BSCard CardType="CardType.Text">
                        Get a feel for how your team is feeling against key indicators. See: <a href="https://labs.spotify.com/2014/09/16/squad-health-check-model/" target="_new">Spotify Health Check Model.</a>
                        <p>&nbsp;</p>
                        <BSButton Color="Color.Primary" IsBlock="true">Go</BSButton>
                    </BSCard>
                </BSCard>
            </BSCard>
        </BSCol>
    </BSRow>
</BSContainer>