<BSCard Color="Color.Light">
    <BSCard CardType="CardType.Header">Health Check</BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">Start a Health Check</BSCard>
        <BSCard CardType="CardType.Text">
            Get a feel for how your team is feeling against key indicators. See: <a href="https://labs.spotify.com/2014/09/16/squad-health-check-model/" target="_new">Spotify Health Check Model.</a>
            <p>&nbsp;</p>
            <BSButton Color="Color.Primary" IsBlock="true">Go</BSButton>
        </BSCard>
    </BSCard>
</BSCard>