@page "/"

@inject NavigationManager NavigationManager

<BSContainer>
    <BSRow>
        <BSCol MD=12>
            <BSJumbotron>
                <h1 class="display-4">Welcome to <span class="brandfont">Squaddle</span>!</h1>
                <p class="lead">A Swiss Army Knife of collaborative tools for you and your team or squad including planning poker, retrospectives and squad healthchecks!</p>
            </BSJumbotron>
            <hr />
        </BSCol>
    </BSRow>
    <BSRow>
        <BSCol MD=2></BSCol>
        <BSCol MD=4>
            <BSCard Color="Color.Light">
                <BSCard CardType="CardType.Header">Create a room</BSCard>
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Create a new room</BSCard>
                    <BSCard CardType="CardType.Text">
                        Create a new Squaddle room and invite your team to an estimation, retrospective or health check session.
                        <p>&nbsp;</p>
                        <BSButton Color="Color.Primary" IsBlock="true" @onclick="NavigateToGettingStarted">Get started</BSButton>
                    </BSCard>
                </BSCard>
            </BSCard>
        </BSCol>
        <BSCol MD=4>
            <BSCard Color="Color.Light">
                <BSCard CardType="CardType.Header">Join a room</BSCard>
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Join an existing room</BSCard>
                    <BSCard CardType="CardType.Text">
                        You can join an existing room by clicking the link in your e-mail or by entering the room code below!
                        <JoinSessionForm />
                    </BSCard>
                </BSCard>
            </BSCard>
        </BSCol>
        <BSCol MD=2></BSCol>
    </BSRow>
</BSContainer>

@code {
    public void NavigateToGettingStarted() {
        NavigationManager.NavigateTo("get-started");
    }
}