@using Microsoft.Extensions.Configuration
@using Squaddle.Shared.Models

@page "/join"
@page "/join/{roomcode}"

@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

    <BSContainer>
        <BSRow>
            <BSCol MD=12>
                <h3>Joining a session in progress</h3>

                <JoinSessionForm RoomCode="@RoomCode"/>
            </BSCol>
        </BSRow>
    </BSContainer>

@code {
    [Parameter]
    public string RoomCode { get; set; }
}